In [1]:
import pandas as pd 
import logging


def load_data(file_path:str, selected_columns:list):
    logging.info("loading data")
    df = pd.read_parquet(file_path)
    X_train = df[["db_id","question"]]
    y_train = df[["query"]]
    logging.info(f"shape of X_train: {X_train.shape}")
    logging.info(f"shape of y_train: {y_train.shape}")
    X_train['question'] = X_train["db_id"] +" "+ X_train['question']
    X_train = X_train.drop('db_id',axis=1)
    
    return X_train,y_train

In [8]:
X_train, y_train = load_data("~/ML_Projects/text-sql/data/train/0000.parquet",selected_columns=["db_id","question","query"])

/var/folders/93/mr9vk9s104n71qvsfvrkf4800000gn/T/ipykernel_54025/1862137587.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['question'] = X_train["db_id"] +" "+ X_train['question']

In [9]:
X_train.head()

                                            question
0  department_management How many heads of the de...
1  department_management List the name, born stat...
2  department_management List the creation year, ...
3  department_management What are the maximum and...
4  department_management What is the average numb...

In [12]:
y_train.head(5)

                                               query
0         SELECT count(*) FROM head WHERE age  >  56
1  SELECT name ,  born_state ,  age FROM head ORD...
2  SELECT creation ,  name ,  budget_in_billions ...
3  SELECT max(budget_in_billions) ,  min(budget_i...
4  SELECT avg(num_employees) FROM department WHER...

In [13]:
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense

In [14]:
vocab_size = 1000

In [17]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [99]:
len_of_question = [len(seq) for seq in X_train['question']]

In [94]:
max_length_X = max([len(seq) for seq in X_train['question']])
print(max_length_X)

232

In [95]:
tokenizer_input = Tokenizer()
tokenizer_input.fit_on_texts(X_train['question'])
X_train_sequences = tokenizer_input.texts_to_sequences(X_train['question'])
X_train_padded = pad_sequences(X_train_sequences, padding='post', maxlen=max_length_X)

In [96]:
X_train_padded[:6], X_train.loc[0:6]

(array([[ 48, 249,  19, ...,   0,   0,   0],
        [ 48, 249,  24, ...,   0,   0,   0],
        [ 48, 249,  24, ...,   0,   0,   0],
        [ 48, 249,   4, ...,   0,   0,   0],
        [ 48, 249,   4, ...,   0,   0,   0],
        [ 48, 249,   4, ...,   0,   0,   0]], dtype=int32),
                                             question
 0  department_management How many heads of the de...
 1  department_management List the name, born stat...
 2  department_management List the creation year, ...
 3  department_management What are the maximum and...
 4  department_management What is the average numb...
 5  department_management What are the names of th...
 6  department_management What are the distinct cr...)

In [77]:
max_length_y = max([len(seq) for _,seq in enumerate(y_train['query'])])
print(max_length_y)

577

In [78]:
# Tokenize target sequences (SQL queries)
tokenizer_output = Tokenizer()
tokenizer_output.fit_on_texts(y_train['query'])
y_train_sequences = tokenizer_output.texts_to_sequences(y_train['query'])
y_train_padded = pad_sequences(y_train_sequences, padding='post',maxlen=max_length_X)

In [79]:
y_train_padded[:6], y_train.loc[:6]

(array([[   4,   12,    3,  480,    7,   41, 2200,    0],
        [ 948,   85,   41,    3,  480,   14,   11,   41],
        [   4, 1145,    8,  151,   30, 1406,    3,   40],
        [  30, 1406,   76,  151,   30, 1406,    3,   40],
        [   3,   40,    7, 1146,  166,  179,   23,  643],
        [   4,    8,    3,  480,    7,  948,   85, 1124]], dtype=int32),
                                                query
 0         SELECT count(*) FROM head WHERE age  >  56
 1  SELECT name ,  born_state ,  age FROM head ORD...
 2  SELECT creation ,  name ,  budget_in_billions ...
 3  SELECT max(budget_in_billions) ,  min(budget_i...
 4  SELECT avg(num_employees) FROM department WHER...
 5  SELECT name FROM head WHERE born_state != 'Cal...
 6  SELECT DISTINCT T1.creation FROM department AS...)

In [80]:
vocab_size_input = len(tokenizer_input.word_index) + 1
print(vocab_size_input)
vocab_size_output = len(tokenizer_output.word_index) + 1
print(vocab_size_output)

3261
2405

In [81]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense

embedding_dim = 250
units = 256

model = Sequential([
    Embedding(input_dim=vocab_size_input, output_dim=embedding_dim, input_length=max_length_X),
    LSTM(units, return_sequences=True),
    Dense(units=vocab_size_output, activation='softmax')
])

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [82]:
history = model.fit(X_train_padded, y_train_padded, epochs=5, batch_size=32, validation_split=0.2)

Epoch 1/5
175/175 [==============================] - 5s 24ms/step - loss: 5.6804 - accuracy: 0.0818 - val_loss: 5.6672 - val_accuracy: 0.1129
Epoch 2/5
175/175 [==============================] - 4s 23ms/step - loss: 4.9002 - accuracy: 0.1216 - val_loss: 5.5952 - val_accuracy: 0.1417
Epoch 3/5
175/175 [==============================] - 4s 23ms/step - loss: 4.6667 - accuracy: 0.1539 - val_loss: 5.5828 - val_accuracy: 0.1644
Epoch 4/5
175/175 [==============================] - 4s 25ms/step - loss: 4.4843 - accuracy: 0.1949 - val_loss: 5.5571 - val_accuracy: 0.1917
Epoch 5/5
175/175 [==============================] - 4s 26ms/step - loss: 4.3069 - accuracy: 0.2259 - val_loss: 5.5823 - val_accuracy: 0.2009

In [87]:
import numpy as np

In [88]:
def generate_sql_sequence(question):
    question_sequence = tokenizer_input.texts_to_sequences([question])
    print(f"question sequnec: {question_sequence}")
    question_padded = pad_sequences(question_sequence, padding='post', maxlen=max_length_X)
    print(f"question_padded: {question_padded}")
    predicted_sequence = model.predict(question_padded)[0]
    print(f"predicted_sequence: {predicted_sequence}")
    
    predicted_sql_query = [tokenizer_output.index_word[idx] for idx in np.argmax(predicted_sequence, axis=-1) if idx != 0]
    return " ".join(predicted_sql_query)

# Example usage:
new_question = "department_management How many acting statuses are there?"
predicted_sql_query = generate_sql_sequence(new_question)
print("Predicted SQL Query:", predicted_sql_query)

question sequnec: [[48, 249, 19, 21, 1655, 796, 6, 63]]
question_padded: [[  48  249   19   21 1655  796    6   63]]
1/1 [==============================] - 0s 15ms/step
predicted_sequence: [[5.1949971e-04 3.8198404e-02 7.0495576e-02 ... 1.0635645e-06
  1.0663899e-06 1.1512800e-06]
 [1.2305073e-04 2.7452616e-02 5.1207867e-02 ... 3.7478998e-07
  3.0290491e-07 3.7767256e-07]
 [7.3684455e-04 3.7868481e-02 3.6765717e-02 ... 2.6146660e-08
  1.9799160e-08 2.4678787e-08]
 ...
 [3.0317156e-02 3.2257389e-02 4.3448593e-02 ... 4.4313083e-08
  3.3861834e-08 5.0213348e-08]
 [1.6772658e-01 3.8796687e-03 5.2882684e-03 ... 2.5343448e-07
  1.9333856e-07 2.4185977e-07]
 [2.6479200e-01 5.4874388e-04 8.1779796e-04 ... 8.3105863e-07
  7.2402213e-07 7.7696461e-07]]
Predicted SQL Query: select count from by where count

In [85]:
for i in range(10,16):

    question = list(X_train.iloc[i,:])[0]
    print(f"question: {question}")
    predicted_sql_query = generate_sql_sequence(question)
    actual_query = list(y_train.iloc[i,:])[0]
    
    print(f"actual query: {actual_query}")
    print(f"predicted_sql_query: {predicted_sql_query}")

question: department_management How many acting statuses are there?
question sequnec: [[48, 249, 19, 21, 1655, 796, 6, 63]]
question_padded: [[  48  249   19   21 1655  796    6   63]]
1/1 [==============================] - 0s 11ms/step
predicted_sequence: [[5.1949971e-04 3.8198404e-02 7.0495576e-02 ... 1.0635645e-06
  1.0663899e-06 1.1512800e-06]
 [1.2305073e-04 2.7452616e-02 5.1207867e-02 ... 3.7478998e-07
  3.0290491e-07 3.7767256e-07]
 [7.3684455e-04 3.7868481e-02 3.6765717e-02 ... 2.6146660e-08
  1.9799160e-08 2.4678787e-08]
 ...
 [3.0317156e-02 3.2257389e-02 4.3448593e-02 ... 4.4313083e-08
  3.3861834e-08 5.0213348e-08]
 [1.6772658e-01 3.8796687e-03 5.2882684e-03 ... 2.5343448e-07
  1.9333856e-07 2.4185977e-07]
 [2.6479200e-01 5.4874388e-04 8.1779796e-04 ... 8.3105863e-07
  7.2402213e-07 7.7696461e-07]]
actual query: SELECT count(DISTINCT temporary_acting) FROM management
predicted_sql_query: select count from by where count
question: department_management How many departments are led by heads who are not mentioned?
question sequnec: [[48, 249, 19, 21, 226, 6, 1828, 27, 987, 18, 6, 41, 2583]]
question_padded: [[   6 1828   27  987   18    6   41 2583]]
1/1 [==============================] - 0s 12ms/step
predicted_sequence: [[9.12301068e-04 3.38069610e-02 7.19385892e-02 ... 2.83777609e-07
  3.00832568e-07 3.13459054e-07]
 [1.73595894e-04 2.52388399e-02 5.25863133e-02 ... 5.91309401e-07
  5.16652563e-07 6.19245043e-07]
 [7.00558958e-05 6.57447726e-02 6.82663843e-02 ... 1.99112023e-07
  1.69575046e-07 1.77217416e-07]
 ...
 [1.08453473e-02 4.52944636e-02 7.07963109e-02 ... 1.05319266e-07
  9.54620489e-08 1.21234322e-07]
 [3.17298435e-02 2.26217639e-02 3.81249860e-02 ... 2.65014279e-07
  2.03771791e-07 2.52330580e-07]
 [1.27686057e-02 1.32042286e-03 1.87477656e-03 ... 1.11778936e-05
  9.29108046e-06 9.64330047e-06]]
actual query: SELECT count(*) FROM department WHERE department_id NOT IN (SELECT department_id FROM management);
predicted_sql_query: select id id where where where from
question: department_management What are the distinct ages of the heads who are acting?
question sequnec: [[48, 249, 4, 6, 1, 61, 436, 2, 1, 987, 18, 6, 1655]]
question_padded: [[  61  436    2    1  987   18    6 1655]]
1/1 [==============================] - 0s 10ms/step
predicted_sequence: [[7.2699337e-04 2.9144453e-02 6.2815376e-02 ... 3.6584257e-07
  3.8033266e-07 4.0070657e-07]
 [2.5224089e-04 2.0073865e-02 3.8717784e-02 ... 6.8008887e-07
  5.7615495e-07 6.8398691e-07]
 [3.5972285e-04 4.6053242e-02 4.4529531e-02 ... 2.6411507e-07
  2.2351394e-07 2.2784995e-07]
 ...
 [1.2331998e-02 4.7454346e-02 6.6509269e-02 ... 5.4671563e-08
  4.6201777e-08 5.6445177e-08]
 [1.2911920e-01 1.6435001e-02 2.2680361e-02 ... 8.7449187e-08
  6.5333090e-08 8.4193111e-08]
 [2.5207043e-02 9.4018714e-04 1.3006235e-03 ... 7.6544738e-06
  6.5294475e-06 6.7912870e-06]]
actual query: SELECT DISTINCT T1.age FROM management AS T2 JOIN head AS T1 ON T1.head_id  =  T2.head_id WHERE T2.temporary_acting  =  'Yes'
predicted_sql_query: select count from by by by
question: department_management List the states where both the secretary of 'Treasury' department and the secretary of 'Homeland Security' were born.
question sequnec: [[48, 249, 24, 1, 272, 223, 83, 1, 841, 2, 2584, 48, 3, 1, 841, 2, 2585, 2586, 145, 1065]]
question_padded: [[   3    1  841    2 2585 2586  145 1065]]
1/1 [==============================] - 0s 11ms/step
predicted_sequence: [[3.48848058e-04 4.37711440e-02 9.82364044e-02 ... 1.14368234e-07
  1.14223042e-07 1.23545320e-07]
 [1.11786307e-04 2.46012807e-02 4.55879495e-02 ... 7.45223531e-07
  6.11381040e-07 7.43350313e-07]
 [1.06106025e-04 6.92983195e-02 6.41865581e-02 ... 2.53848185e-07
  2.09247801e-07 2.23594029e-07]
 ...
 [1.44868740e-03 3.61735225e-02 4.19512652e-02 ... 1.38235620e-07
  1.17762944e-07 1.83397233e-07]
 [3.28338449e-03 5.16418042e-03 5.62300300e-03 ... 1.65065762e-06
  1.35426990e-06 2.13491626e-06]
 [5.37801906e-03 8.35151703e-04 1.06124021e-03 ... 3.89850902e-06
  3.43005308e-06 4.43379668e-06]]
actual query: SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'
predicted_sql_query: select by where where where name name 1
question: department_management Which department has more than 1 head at a time? List the id, name and the number of heads.
question sequnec: [[48, 249, 26, 48, 36, 39, 22, 5, 1303, 60, 31, 310, 24, 1, 33, 9, 3, 1, 14, 2, 987]]
question_padded: [[  1  33   9   3   1  14   2 987]]
1/1 [==============================] - 0s 10ms/step
predicted_sequence: [[5.96250058e-04 4.31994200e-02 8.13921690e-02 ... 3.36026460e-07
  3.38351384e-07 3.64774166e-07]
 [1.00883713e-04 2.90332977e-02 5.19306362e-02 ... 2.76968507e-07
  2.34450269e-07 2.83055442e-07]
 [7.88559482e-05 5.99242896e-02 5.42359129e-02 ... 1.07523135e-07
  9.02158490e-08 1.00059459e-07]
 ...
 [6.15788344e-03 9.89395194e-03 1.11042801e-02 ... 2.57672337e-08
  1.69349281e-08 3.09122505e-08]
 [1.74506884e-02 1.23959803e-03 1.34078029e-03 ... 2.83488877e-08
  1.78534183e-08 2.90523445e-08]
 [1.87765490e-02 1.23446385e-04 1.52804758e-04 ... 4.04519653e-08
  3.15390132e-08 4.07036538e-08]]
actual query: SELECT T1.department_id ,  T1.name ,  count(*) FROM management AS T2 JOIN department AS T1 ON T1.department_id  =  T2.department_id GROUP BY T1.department_id HAVING count(*)  >  1
predicted_sql_query: select by order by by desc limit 1
question: department_management Which head's name has the substring 'Ha'? List the id and name.
question sequnec: [[48, 249, 26, 2587, 9, 36, 1, 539, 2588, 24, 1, 33, 3, 9]]
question_padded: [[   1  539 2588   24    1   33    3    9]]
1/1 [==============================] - 0s 10ms/step
predicted_sequence: [[5.96250058e-04 4.31994200e-02 8.13921690e-02 ... 3.36026460e-07
  3.38351384e-07 3.64774166e-07]
 [1.62066106e-04 1.75043829e-02 2.61494778e-02 ... 7.11343228e-06
  6.29044234e-06 6.96599272e-06]
 [1.44792095e-04 3.15867178e-02 3.58411483e-02 ... 1.80188772e-06
  1.64071707e-06 1.68967972e-06]
 ...
 [1.68503833e-03 1.65806301e-02 1.54977115e-02 ... 2.89279399e-07
  2.16022940e-07 4.01203948e-07]
 [4.57099825e-03 1.74639781e-03 1.60299672e-03 ... 1.68816314e-06
  1.39453755e-06 2.24377641e-06]
 [6.71538478e-03 1.25920493e-03 1.34081428e-03 ... 7.56248028e-07
  6.37493713e-07 9.24547805e-07]]
actual query: SELECT head_id ,  name FROM head WHERE name LIKE '%Ha%'
predicted_sql_query: select where and and and and 1 1

In [86]:
Embedding(input_dim=vocab_size_input, output_dim=embedding_dim, input_length=X_train_padded.shape[1])

In [15]:
# onehot_repr = [one_hot(words,vocab_size) for words in X_train]

In [16]:
# onehot_repr

[[854]]